<div ng-controller="projectsController">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">HackPack</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <div class="col-md-6">
    <div class="panel" ng-show="parentProject != undefined">
      <div class="panel-heading">
        <h2>
          <a ng-click="loadProject(parentProject)">
            {{parentProject.name}}
          </a>
        </h2>
        <small>{{parentProject.punchline}}</small>
      </div>
      <div class="panel-body">

      </div>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item" ng-class="currentProject == project" ng-repeat="project in menuProjects" ng-click="loadProject(project)">
        <h4 class="list-group-item-heading">
          {{project.name}}
          <small class="pull-right">{{project.status}}</small>
        </h4>

        <p class="list-group-item-text">{{project.punchline}}</p>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel" ng-show="currentProject != undefined">
      <div class="panel-heading">
        <h2>{{currentProject.name}}</h2>
        <small>{{currentProject.punchline}}</small>
      </div>
      <div class="panel-body">

      </div>
    </div>
    <div class="list-group" ngshow="currentProject != undefined">
      <a href="#" class="list-group-item" ng-class="currentProject == project" ng-repeat="project in currentProject.children" ng-click="loadProject(project)">
        <h4 class="list-group-item-heading">
          {{project.name}}
          <small class="pull-right">{{project.status}}</small>
        </h4>

        <p class="list-group-item-text">{{project.punchline}}</p>
      </a>
    </div>
  </div>
  <div class="col-md-6">

  </div>
</div>